<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.thistle.myshop.MyshopMapper">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND" prefixOverrides="OR">
            <foreach collection="cri.typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'N'.toString()">
                            ord_name like '%' || #{cri.keyword} || '%'
                        </when>
                        <when test="type == 'C'.toString()">
                            ord_code like '%' || #{cri.keyword} || '%'
                        </when>
                        <when test="type == 'I'.toString()">
                            user_id like '%' || #{cri.keyword} || '%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

    <!-- 날짜 검색 -->
    <sql id="period">
        <if test="start_date != null and !start_date.equals('') and end_date != null and !end_date.equals('')"> <!-- 날짜 검색 시 null 또는 공백이 아닐경우 -->
            <![CDATA[
				AND ord_regdate >= to_date(#{start_date}) AND ord_regdate < to_date(#{end_date}) + 1
			]]>
        </if>
    </sql>


        <select id="order_list" resultType="OrderDetailinfoVO"  parameterType="map">
            SELECT *
            FROM (
                SELECT /*+ INDEX_DESC(order_tbl pk_ord_code) */
                    ROWNUM AS RN,
                    o.ord_code,
                    o.user_id,
                    o.ord_regdate,
                    ot.dt_amount,
                    ot.pro_num,
                    p.pro_name,
                    p.pro_price,
                    p.pro_up_folder,
                    p.pro_img
                FROM
                    order_tbl o
                INNER JOIN
                    ordetail_tbl ot
                ON
                    o.ord_code = ot.ord_code
                INNER JOIN
                    product_tbl p
                ON
                    ot.pro_num = p.pro_num
                WHERE
                    o.user_id = #{user_id}
                    <include refid="criteria"/>
                    <include refid="period"/>
                    <![CDATA[
                        AND ROWNUM <= (#{cri.pageNum} * #{cri.amount})
                    ]]>
                    )
            WHERE
                RN > (#{cri.pageNum} - 1) * #{cri.amount}
        </select>


    <select id="getTotalCount" resultType="int" parameterType="map">

        SELECT count(*)
        FROM
        order_tbl o
        INNER JOIN
        ordetail_tbl ot
        ON
        o.ord_code = ot.ord_code
        INNER JOIN
        product_tbl p
        ON
        ot.pro_num = p.pro_num
        WHERE
        o.user_id = #{user_id}
        <include refid="criteria"/> <!-- 검색기능을 한다. -->
        <include refid="period"/> <!-- 기간 조건을 포함 -->
    </select>

</mapper>