#ASIDE {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    padding-top: 12px;
    background-color: #fff;
    box-sizing: border-box;
}

/* .aside__area {position:fixed;} */
.aside__title {
    margin-bottom: 30px;
    font-weight: 400;
    color: #000;
}

.aside__menu li {
    list-style: none;
    line-height: 1;
}

.aside__menu > ul {
    max-width: 200px;
}

.aside__menu > ul > li {
    margin-bottom: 20px;
}

.aside__menu > ul > li:last-child {
    margin-bottom: 0px !important;
}

.aside__menu > ul > li > a {
    position: relative;
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    color: #444;
}

.aside__menu > ul > li > a i {
    position: absolute;
    width: 14px;
    height: 14px;
    display: block;
    top: 50%;
    right: 0;
    margin-top: -7px;
}

.aside__menu > ul > li > a i::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    background-color: #999;
    display: block;
    margin: -1px 0 0 -5px;
}

.aside__menu > ul > li > a i::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    background-color: #999;
    display: block;
    margin: -1px 0 0 -5px;
    transform: rotate(90deg);
}

.aside__menu > ul > li:hover > a, .aside__menu > ul > li.on > a {
    color: #D8BDF8;
}

.aside__menu > ul > li.on > a {
    font-weight: 500;
}

.aside__menu > ul > li.on > a i::after {
    transform: rotate(0);
}

.aside_menu_sub {
    display: none;
}

.aside_menu_sub li {
    margin-bottom: 17px;
}

.aside_menu_sub li:last-child {
    margin-bottom: 0px !important;
}

.aside_menu_sub a {
    font-size: 14px;
    color: #999;
}

.aside__menu > ul > li.on .aside_menu_sub {
    display: block;
}

.aside__menu > ul > li .aside_menu_sub li a {
    color: #999;
}

.aside__menu > ul > li .aside_menu_sub li.on a {
    color: #D8BDF8;
    font-weight: 700;
}

.aside__menu > ul > li .aside_menu_sub li:hover a {
    color: #D8BDF8;
}

.menu__sub-list a {
    display: block;
    padding: 8px 0 8px 14px;
    font-weight: 200;
    color: #666;
}

.menu__sub-list a:hover {
    text-decoration: underline;
}

.menu__sub-list a.on {
    color: #D8BDF8;
}

.aside__menu > ul > li > .menu__sub {
    display: none;
}

.aside__menu > ul > li.on > .menu__sub {
    display: block;
}