<!DOCTYPE html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
    <meta charset="UTF-8">

    <!-- 각 페이지 마다 title태그 내용이 각각 다르기 때문에 재정의 목적 -->
    <th:block layout:fragment="title">
        <!-- 각 페이지의 title -->
    </th:block>

    <!-- 모든 페이지가 상속 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Google Fonts: Display Playfair 및 Inter 폰트를 포함 -->
    <link href="https://fonts.googleapis.com/css2?family=Display+Playfair:wght@400;700&family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <!-- Unicons: 아이콘 폰트를 포함 -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- Bootstrap: 부트스트랩 CSS 프레임워크를 포함 -->
    <link rel="stylesheet" href="/css/header/bootstrap.min.css">

    <!-- Animate.css: 애니메이션 효과를 위한 CSS 라이브러리 포함 -->
    <link rel="stylesheet" href="/css/header/animate.min.css">

    <!-- Owl Carousel: 반응형 슬라이더 및 캐러셀을 위한 CSS 라이브러리 포함 -->
    <link rel="stylesheet" href="/css/header/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/header/owl.theme.default.min.css">

    <!-- Fancybox: 이미지 및 미디어 파일의 모달 뷰를 위한 CSS 라이브러리 포함 -->
    <link rel="stylesheet" href="/css/header/jquery.fancybox.min.css">

    <!-- Icomoon: Themewagon에서 제공하는 아이콘 폰트를 포함 -->
    <link rel="stylesheet" href="https://themewagon.github.io/learner/fonts/icomoon/style.css">

    <!-- Flaticon: Themewagon에서 제공하는 또 다른 아이콘 폰트를 포함 -->
    <link rel="stylesheet" href="https://themewagon.github.io/learner/fonts/flaticon/font/flaticon.css">

    <!-- AOS: 스크롤 애니메이션을 위한 CSS 라이브러리 포함 -->
    <link rel="stylesheet" href="/css/header/aos.css">

    <!-- Custom Styles: 사용자 정의 스타일시트를 포함 -->
    <link rel="stylesheet" href="/css/header/style.css">

    <!-- Font Awesome: 아이콘 폰트를 포함 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- search css 라이브러리 -->
    <link rel="stylesheet" href="/css/header/search.css">






    <!-- 각 페이지 마다 css 내용이 각각 다른 경우 재정의 목적 -->
    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
    </th:block>


    <!-- 각 페이지 마다 javascript 내용이 각각 다른 경우 재정의 목적 -->
    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>



</head>
</html>