<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">


    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body">
        </div>
    </div>



    <nav class="site-nav mb-5">
        <div class="pb-2 top-bar mb-3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-lg-6 text-left">
                        <a href="#" class="small mr-3 text-black"><span class="d-none d-lg-inline-block">disco8353@gmail.com</span></a>
                    </div>
                    <div class="col-6 col-lg-6 text-right">
                        <!-- session login.status이 null이면 회원가입, 로그인을 보여준다 -->
                        <!--  즉 로그인을 하지 않으면 해당 메뉴가 나타나게 된다.-->
                        <th:block th:if="${session.login_status == null and session.kakao_status == null and session.naver_status == null}">
                            <a th:href="@{/user/join}" class="small mr-3 text-black">회원가입</a>
                            <a th:href="@{/user/login}" class="small mr-3 text-black">LogIn</a>
                        </th:block>

                        <!-- session login.status이 null이 아니면 로그아웃을 보여준다  -->
                        <!-- 로그인을 하면 로그아웃 창이 나타난다.-->
                        <th:block th:if="${session.login_status != null}">
                            <a th:href="@{/user/logout}" class="small mr-3 text-black">Logout</a>
                        </th:block>

                        <th:block th:if="${session.kakao_status != null}">
                            <a th:href="@{/oauth2/kakaologout}" class="small mr-3 text-black">Logout</a>
                        </th:block>

                        <th:block th:if="${session.naver_status != null}">
                            <a th:href="@{/oauth2/naverlogout}" class="small mr-3 text-black">Logout</a>
                        </th:block>

                        <a th:href="@{/user/mypage}" class="small mr-3 text-black">MyPage</a>
                        <a th:href="@{/cart/cart_list}" class="small mr-3 text-black">장바구니</a>
                        <a th:href="@{/myshop/order_list}" class="small mr-3 text-black">주문정보</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="sticky-nav js-sticky-header">
                <div class="container position-relative">
                    <div class="site-navigation text-center">
                        <a href="/" class="logo menu-absolute m-0">THISTLE<span class="text-primary"></span></a>
                        <div id="category_menu">
                            <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
                                <li class="active">
                                    <a href="#" th:data-cate_code="'BRAND_STORY'" th:text="'BRAND STORY'">BRAND STORY</a>
                                </li>
                                <li class="has-children" th:each="category : ${user_cate_list}">
                                    <a href="#" th:data-cate_code="${category.cate_code}" th:text="${category.cate_name}">${category.cate_name}</a>
                                    <ul class="dropdown">
                                        <!-- Dropdown items go here if needed -->
                                    </ul>
                                </li>
                            </ul>
                        <a href="#" id="search-btn" class="btn-book btn btn-secondary btn-sm menu-absolute"><i class="fas fa-shopping-cart"></i> Search</a>
                        <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                            <i class="fas fa-bars"></i>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="search-area" class="search-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="close-btn"><i class="fas fa-window-close"></i></span>
                        <div class="search-bar">
                            <div class="search-bar-tablecell">
                                <h3>Search For:</h3>
                                <input type="text" placeholder="Keywords">
                                <button type="submit">Search <i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>

</html>