<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>



    <nav class="site-nav mb-5">
        <div class="pb-2 top-bar mb-3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-lg-6 text-left">
                        <a href="#" class="small mr-3 text-black"><span class="d-none d-lg-inline-block">disco8353@gmail.com</span></a>
                    </div>
                    <div class="col-6 col-lg-6 text-right">
                        <!-- session login.status이 null이면 회원가입, 로그인을 보여준다 -->
                        <!--  즉 로그인을 하지 않으면 해당 메뉴가 나타나게 된다.
                        <th:block th:if="${session.login.status==null}">-->
                        <a href="/user/join" class="small mr-3 text-black">회원가입</a>
                        <a href="/user/login" class="small mr-3 text-black">LogIn</a>


                        <!-- session login.status이 null이 아니면 로그아웃을 보여준다  -->
                        <!-- 로그인을 하면 로그아웃 창이 나타난다.
                        <th:block th:if="${session.login.ststus!=null}">-->
                        <a href="/user/logout" class="small mr-3 text-black">Logout</a>


                        <a href="#" class="small mr-3 text-black">장바구니</a>
                        <a href="#" class="small mr-3 text-black">주문정보</a>
                        <a href="/user/mypage" class="small mr-3 text-black">MyPage</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-nav js-sticky-header">
            <div class="container position-relative">
                <div class="site-navigation text-center">
                    <a href="/" class="logo menu-absolute m-0">THISTLE<span class="text-primary"></span></a>

                    <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
                        <li class="active"><a href="index.html">BRAND STORY</a></li>
                        <li class="has-children">
                            <a href="#">skin</a>
                            <ul class="dropdown">
                                <li><a href="elements.html">스킨/로션</a></li>
                                <li><a href="#">에센스/앰플</a></li>
                                <li><a href="#">크림</a></li>
                                <li><a href="#">마스크</a></li>
                                <li><a href="#">클렌징</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">HAIR</a>
                            <ul class="dropdown">
                                <li><a href="elements.html">샴푸</a></li>
                                <li><a href="#">트리트먼트/헤어팩</a></li>
                                <li><a href="#">오일/에센스</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">BODY</a>
                            <ul class="dropdown">
                                <li><a href="elements.html">바디워시/스크럽</a></li>
                                <li><a href="#">바디로션/크림</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">FRAGRANCE</a>
                            <ul class="dropdown">
                                <li><a href="elements.html">향수</a></li>
                                <li><a href="#">홈프래그런스</a></li>
                            </ul>
                        </li>
                    </ul>

                    <a href="#" class="btn-book btn btn-secondary btn-sm menu-absolute">Enroll Now</a>

                    <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                        <span></span>
                    </a>

                </div>
            </div>
        </div>
    </nav>
</header>

</html>